* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../img/bg.jpg) no-repeat top center / cover;
}

.container {
    margin: 50px auto 0 auto;
    height: 500px;
    min-width: 500px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr .1fr 3fr;
    grid-template-rows: 1fr .1fr 1fr;
}

.city-weather, .city-forecast, .city-info {
    -webkit-box-shadow: 11px 15px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 15px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 11px 15px 25px -4px rgba(0,0,0,0.75);
    border-radius: 25px;
    background: rgba(255,255,255,0.7);
}

.city-info {
    grid-column: 3 / 4;
}

.city-forecast {
    grid-row: 3 / 4;
}


h2 {
    margin: 10px 0 0 10px;
    font-weight: 400;
    font-size: 30px;
}

.date {
    margin: 10px 0 0 10px;
}

.city-temperature, .city-name {
    display: inline-block;
}

.city-temperature {
    margin-left: 10px;
    font-size: 30px;
}

.weather-img {
    display: block;
    width: 70px;
    margin: 0 auto;
}
/* 
div {
    border: red 1px solid;
} */

.city-forecast {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(5, 1fr);
}



.weather-bottom {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 1.2fr;
}

.weather-descrp, .wind-title, .wind-speed {
    text-align: center;
}

.wind-arrow {
    display: block;
    margin: 5px auto;
    transition: .5s all;
}

.other-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.other-info > p {
    margin-left: 10px;
}

#cities {
    display: block;
    width: 80%;
    margin: 20px auto 10px auto;
    padding: 10px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    border: 0;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
}