* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../img/bg.jpg) no-repeat top center / cover;
}

.container {
    margin: 50px auto 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr .1fr 3fr;
    grid-template-rows: .6fr .05fr .6fr;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1.5fr .1fr 1.5fr;
    }
}

@media (max-width: 650px) {
    .container {
        grid-template-columns: 100% 0%;
        grid-template-rows: 1fr .1fr 1fr .1fr 1fr;
    }

    .city-weather {
        grid-row: 1;
        grid-column: 1;
    }

    .chart-info {
        grid-row: 3;
        grid-column: 1 !important;
    }

    .city-forecast {
        grid-row: 5 !important;
        grid-column: 1 !important;
        font-size: 14px;
    }

    .forecast-date {
        font-size: 15px !important;
    }
}

.city-weather, .city-forecast, .chart-info {
    -webkit-box-shadow: 11px 15px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 15px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 11px 15px 25px -4px rgba(0,0,0,0.75);
    border-radius: 25px;
    background: rgba(255,255,255,0.7);
}

.chart-info {
    grid-column: 3 / 4;
}

.chart-info > h3 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin: 10px 0 0 10px;
    font-weight: 400;
    font-size: 30px;
}

.date {
    margin: 10px 0 0 10px;
}

.city-temperature, .city-name {
    display: inline-block;
}

.city-temperature {
    margin-left: 10px;
    font-size: 30px;
}

.weather-img {
    display: block;
    width: 70px;
    margin: 0 auto;
}
/* 
div {
    border: red 1px solid;
} */

.city-forecast {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 3;
}



.weather-bottom {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 1.2fr;
}

.weather-descrp, .wind-title, .wind-speed {
    text-align: center;
}

.wind-arrow {
    display: block;
    margin: 5px auto;
    transition: .5s all;
}

.other-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.other-info > p {
    margin-left: 10px;
}

#cities {
    display: block;
    width: 80%;
    margin: 20px auto 10px auto;
    padding: 10px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    border: 0;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
}

.forecast-day {
    border-right: 1px solid rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forecast-day:last-child {
    border-right: none;
}

.forecast-date {
    font-size: 17px;
    text-align: center;
}


#chart > div > div > div > svg > rect {
    fill: rgba(0, 0, 0, 0);
}

text {
    font-style: normal;
}